
*.ipch
*.vsidx
.vs/GRA_STATKI/v17/.suo
.vs/GRA_STATKI/v17/Browse.VC.db
.vs/GRA_STATKI/v17/Browse.VC.db-shm
.vs/GRA_STATKI/v17/Browse.VC.db
.vs/GRA_STATKI/v17/.suo
.vs/GRA_STATKI/v17/Browse.VC.opendb
.vs/GRA_STATKI/v17/Browse.VC.db-wal
.vs/GRA_STATKI/v17/Browse.VC.db
.vs/GRA_STATKI/v17/.suo
